# Sedona Exercise Correction

In this notebook, you will try to use what you have learned before to solve the below problems:
1. Create a sedona context
2. Read a parquet file
3. Convert string columns into geometry columns
4. Get all immo transactions of 2020
5. Get all immo transactions near casd (in 3 kilometers radius)
6. Write the result of 4, 5 in a geoparquet file

## 1.Create a sedona context

Before you start
- check spark and pyspark
- check the required jar files of sedona
- check the python dependencies of sedona

If everything is checked, you can continue to create a sedona context

In [2]:
from sedona.spark import *
from pyspark.sql import SparkSession, DataFrame
from pathlib import Path
from pyspark.sql.functions import trim, split, expr, col

In [3]:
# build a sedona session offline
project_root_dir = Path.cwd().parent
print(project_root_dir.as_posix())

C:/Users/PLIU/Documents/git/Seminar_PySpark_Sedona_GeoParquet

In [4]:
# here we choose sedona 1.7.2 for spark 3.5.* build with scala 2.12
jar_folder = Path(f"{project_root_dir}/jars/sedona-35-212-172")
jar_list = [str(jar) for jar in jar_folder.iterdir() if jar.is_file()]
jar_path = ",".join(jar_list)

# build a sedona session (sedona = 1.7.2) offline
spark = SparkSession.builder \
    .appName("sedona_tutorial") \
    .master("local[*]") \
    .config("spark.jars", jar_path) \
    .getOrCreate()

In [5]:
# create a sedona context
sedona = SedonaContext.create(spark)

In [6]:
sc = spark.sparkContext
# use utf as default encoding
sc.setSystemProperty("sedona.global.charset", "utf8")

## 2. Read a parquet file

To do the data analytics, we need to read the data and store them as a dataframe.
The data is stored is a `parquet file` and located at `./data/large_ds/fr_immo_transaction.parquet`

You task is to read this parquet file and return a `dataframe`.

In [7]:
data_dir = project_root_dir / "data"
fr_immo_transaction_path = data_dir / "large_ds/fr_immo_transaction.parquet"
fr_immo_transactions_df = spark.read.parquet(fr_immo_transaction_path.as_posix())

In [8]:
required_col = ["id_transaction", "date_transaction", "prix", "departement", "ville", "code_postal", "adresse",
                "type_batiment", "n_pieces", "surface_habitable", "latitude", "longitude"]
clean_fr_immo_df = fr_immo_transactions_df.select(required_col)

In [9]:
# cache the dataframe for better performance
# clean_fr_immo_df.cache()
clean_fr_immo_df.show()

+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|id_transaction|date_transaction|    prix|departement|               ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|        latitude|       longitude|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|        141653|      2014-01-02|197000.0|         01|             TREVOUX|       1600|  6346 MTE DES LILAS|  Appartement|       4|               84|45.9423014034837|4.77069364742062|
|        141970|      2014-01-02|157500.0|         01|              VIRIAT|       1440|1369 RTE DE STRAS...|       Maison|       4|              103|46.2364072868351|5.26293493674271|
|        139240|      2014-01-02|112000.0|         01|SAINT-JEAN-SUR-VEYLE|       1290|5174  SAINT JEAN ...|       Maison|       3|               78|46.2600767509964| 4.9186124567344|
|        146016|      2014-01-02|173020.0|         01|             LAGNIEU|       1150|21 GR GRANDE RUE ...|       Maison|       4|               72|45.8990448750694|5.35421986570434|
|        145911|      2014-01-03| 88000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       3|              104|46.2584083170745| 5.6408027525738|
|        145024|      2014-01-03|202500.0|         01|ST ETIENNE-SUR-RE...|       1190|    5112  AU MOIROUX|       Maison|       6|              118|46.3900603987491|5.01770950682101|
|        148141|      2014-01-03| 49023.3|         01|               BALAN|       1360|7 LOT AFU DE BARB...|       Maison|       5|              105|45.8321367961343|5.09791701908164|
|        145399|      2014-01-03| 68000.0|         01|     BOURG-EN-BRESSE|       1000|10Z RUE EDGAR  QU...|  Appartement|       2|               44|  46.20385904116|5.22569295332627|
|        143192|      2014-01-03|156750.0|         01|     BOURG-EN-BRESSE|       1000| 15 RUE DE MONTHOLON|  Appartement|       3|               83|46.2000838066075|5.21083723376748|
|        146426|      2014-01-03|163640.0|         01|SAINT-MAURICE-DE-...|       1700|      40 AV DES ILES|  Appartement|       3|               84|45.8232892882996|4.97719901458052|
|        141750|      2014-01-03|203000.0|         01|             DAGNEUX|       1120|733C RTE DE STE C...|       Maison|       5|               90|45.8599182503004|5.05532938199608|
|        148109|      2014-01-03|126000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       4|              111|46.2584083170745| 5.6408027525738|
|        146587|      2014-01-03|145000.0|         01|            FARAMANS|       1800|100 CHE DE LA COT...|       Maison|       4|               88|45.8984143194015| 5.1238429973443|
|        142324|      2014-01-06|180230.0|         01|SAINT-GENIS-SUR-M...|       1380|   5013  LA TERRASSE|       Maison|       5|              200|46.3005918214866|5.01292534875678|
|        147770|      2014-01-06|107000.0|         01|     BOURG-EN-BRESSE|       1000|18 RUE GEORGES GU...|  Appartement|       4|               81|46.1940166503064| 5.2085969704023|
|        140120|      2014-01-06|177500.0|         01|BELLEGARDE-SUR-VA...|       1200|    23 RUE DE MUSSEL|       Maison|       6|              120|46.1012359876184|5.81606709511131|
|        142088|      2014-01-06|165000.0|         01|BELLEGARDE-SUR-VA...|       1200|        10 RUE VIALA|  Appartement|       4|               87|46.1065010130505|5.82630764368207|
|        146625|      2014-01-06|152000.0|         01|           BELLIGNAT|       1100|16 RUE GUSTAVE FL...|       Maison|       5|               92|46.2476079780747|5.63367658432816|
|        146683|      2014-01-06|415000.0|         01|                 GEX|       1170|    111 RUE DE PARIS|  Appartement|       5|              117|46.3369095806716|6.05697509698794|
|        144187|      2014-01-06|430500.0|         01|           MONTHIEUX|       1390|   300 GR GRANDE RUE|       Maison|       5|              175| 45.954218351011|4.94060008338832|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
only showing top 20 rows

In [10]:
clean_fr_immo_df.printSchema()

root
 |-- id_transaction: integer (nullable = true)
 |-- date_transaction: date (nullable = true)
 |-- prix: double (nullable = true)
 |-- departement: string (nullable = true)
 |-- ville: string (nullable = true)
 |-- code_postal: integer (nullable = true)
 |-- adresse: string (nullable = true)
 |-- type_batiment: string (nullable = true)
 |-- n_pieces: integer (nullable = true)
 |-- surface_habitable: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

## 3. Create a geometry column

You can notice in the raw dataframe, the latitude and longitude columns are double types. We need to create a geometry column to be able to do spatial-join operations with other geospatial data.

Your task is to create a geometry column(i.e. Point) by using the latitude and longitude column

In [ ]:
# preview of the dataframe
clean_fr_immo_df.show()

In [ ]:
# show the schema of the dataframe
clean_fr_immo_df.printSchema()

In [11]:
fr_immo_geometry_df = clean_fr_immo_df.withColumn("geo_coord", ST_Point(col("longitude"), col("latitude"))).drop(
    "longitude", "latitude")

In [12]:
fr_immo_geometry_df.show()

+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+--------------------+
|id_transaction|date_transaction|    prix|departement|               ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|           geo_coord|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+--------------------+
|        141653|      2014-01-02|197000.0|         01|             TREVOUX|       1600|  6346 MTE DES LILAS|  Appartement|       4|               84|POINT (4.77069364...|
|        141970|      2014-01-02|157500.0|         01|              VIRIAT|       1440|1369 RTE DE STRAS...|       Maison|       4|              103|POINT (5.26293493...|
|        139240|      2014-01-02|112000.0|         01|SAINT-JEAN-SUR-VEYLE|       1290|5174  SAINT JEAN ...|       Maison|       3|               78|POINT (4.91861245...|
|        146016|      2014-01-02|173020.0|         01|             LAGNIEU|       1150|21 GR GRANDE RUE ...|       Maison|       4|               72|POINT (5.35421986...|
|        145911|      2014-01-03| 88000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       3|              104|POINT (5.64080275...|
|        145024|      2014-01-03|202500.0|         01|ST ETIENNE-SUR-RE...|       1190|    5112  AU MOIROUX|       Maison|       6|              118|POINT (5.01770950...|
|        148141|      2014-01-03| 49023.3|         01|               BALAN|       1360|7 LOT AFU DE BARB...|       Maison|       5|              105|POINT (5.09791701...|
|        145399|      2014-01-03| 68000.0|         01|     BOURG-EN-BRESSE|       1000|10Z RUE EDGAR  QU...|  Appartement|       2|               44|POINT (5.22569295...|
|        143192|      2014-01-03|156750.0|         01|     BOURG-EN-BRESSE|       1000| 15 RUE DE MONTHOLON|  Appartement|       3|               83|POINT (5.21083723...|
|        146426|      2014-01-03|163640.0|         01|SAINT-MAURICE-DE-...|       1700|      40 AV DES ILES|  Appartement|       3|               84|POINT (4.97719901...|
|        141750|      2014-01-03|203000.0|         01|             DAGNEUX|       1120|733C RTE DE STE C...|       Maison|       5|               90|POINT (5.05532938...|
|        148109|      2014-01-03|126000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       4|              111|POINT (5.64080275...|
|        146587|      2014-01-03|145000.0|         01|            FARAMANS|       1800|100 CHE DE LA COT...|       Maison|       4|               88|POINT (5.12384299...|
|        142324|      2014-01-06|180230.0|         01|SAINT-GENIS-SUR-M...|       1380|   5013  LA TERRASSE|       Maison|       5|              200|POINT (5.01292534...|
|        147770|      2014-01-06|107000.0|         01|     BOURG-EN-BRESSE|       1000|18 RUE GEORGES GU...|  Appartement|       4|               81|POINT (5.20859697...|
|        140120|      2014-01-06|177500.0|         01|BELLEGARDE-SUR-VA...|       1200|    23 RUE DE MUSSEL|       Maison|       6|              120|POINT (5.81606709...|
|        142088|      2014-01-06|165000.0|         01|BELLEGARDE-SUR-VA...|       1200|        10 RUE VIALA|  Appartement|       4|               87|POINT (5.82630764...|
|        146625|      2014-01-06|152000.0|         01|           BELLIGNAT|       1100|16 RUE GUSTAVE FL...|       Maison|       5|               92|POINT (5.63367658...|
|        146683|      2014-01-06|415000.0|         01|                 GEX|       1170|    111 RUE DE PARIS|  Appartement|       5|              117|POINT (6.05697509...|
|        144187|      2014-01-06|430500.0|         01|           MONTHIEUX|       1390|   300 GR GRANDE RUE|       Maison|       5|              175|POINT (4.94060008...|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+--------------------+
only showing top 20 rows

## 4. Get all immo transactions of 2020

We have a column called `date_transaction` which is a `date` type.

Your task is to use this column to filter all transactions of year 2020

In [13]:
from pyspark.sql.functions import year

transaction_immo_2020 = fr_immo_geometry_df.filter(year(col("date_transaction")) == 2020)
transaction_immo_2020.show(5)

+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+--------------------+
|id_transaction|date_transaction|    prix|departement|               ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|           geo_coord|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+--------------------+
|         67688|      2020-01-02|182925.0|         01|   AMBERIEU-EN-BUGEY|       1500|78 AV DU GEN SARRAIL|  Appartement|       5|               93|POINT (5.33384020...|
|         69832|      2020-01-02|430000.0|         01|     PREVESSIN-MOENS|       1280| 134 CHE DES HAUTINS|  Appartement|       5|              105|POINT (6.08684459...|
|         69585|      2020-01-02|165000.0|         01|              CHEVRY|       1170|  347 RUE DU CHATEAU|  Appartement|       3|               48|POINT (6.03460404...|
|         66142|      2020-01-02| 80000.0|         01|SAINT-JULIEN-SUR-...|       1540|  2120 RTE DE VONNAS|       Maison|       4|               93|POINT (4.97154658...|
|         64848|      2020-01-03|253505.0|         01|     ARS-SUR-FORMANS|       1480|106 ALL DES GARENNES|       Maison|       6|              138|POINT (4.81728561...|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+--------------------+
only showing top 5 rows

## 5. Get all immo transactions near CASD

We have the coordinates of casd

```text
casd_latitude = "48.8190155"
casd_longitude = "2.3081911"
```

You task is to find all transactions near CASD in a radius of 1000 meters.

In [23]:
# casd geo location
casd_latitude = "48.8190155"
casd_longitude = "2.3081911"
casd_geo = f"POINT({casd_longitude} {casd_latitude})"

distance = 1000.0

In [26]:
from pyspark.sql.functions import asc


def get_near_immo_transaction(geo_df: DataFrame, target_loc: str, distance: float) -> DataFrame:
    """
    This function get the nearest hospital based on distance with a given patient location
    :return:
    """
    tmp_df = geo_df.withColumn("distance_meter", ST_DistanceSphere(ST_GeomFromWKT(lit(target_loc)), col("geo_coord"))) \
        .orderBy(asc("distance_meter"))

    return tmp_df.filter(tmp_df.distance_meter <= distance)

In [27]:
immo_transaction_near_casd = get_near_immo_transaction(fr_immo_geometry_df, casd_geo, distance)

In [29]:
immo_transaction_near_casd.count()

2372

In [28]:
immo_transaction_near_casd.show(5)

+--------------+----------------+---------+-----------+--------+-----------+--------------------+-------------+--------+-----------------+--------------------+-----------------+
|id_transaction|date_transaction|     prix|departement|   ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|           geo_coord|   distance_meter|
+--------------+----------------+---------+-----------+--------+-----------+--------------------+-------------+--------+-----------------+--------------------+-----------------+
|      14144156|      2019-12-18|1007200.0|         92|MALAKOFF|      92240|9 RUE FRANCOIS CO...|  Appartement|       2|              139|POINT (2.30806162...|30.35060097718332|
|      14168314|      2019-07-29|1164550.0|         92|MALAKOFF|      92240|9 RUE FRANCOIS CO...|  Appartement|       3|              103|POINT (2.30806162...|30.35060097718332|
|      14042392|      2020-02-27|1620000.0|         92|MALAKOFF|      92240|9 RUE FRANCOIS CO...|  Appartement|       5|              156|POINT (2.30806162...|30.35060097718332|
|      14559941|      2015-03-05|  66000.0|         92|MALAKOFF|      92240|11 RUE FRANCOIS C...|  Appartement|       1|               14|POINT (2.30820955...|49.37794023861486|
|      14291143|      2018-02-01|  81000.0|         92|MALAKOFF|      92240|11 RUE FRANCOIS C...|  Appartement|       1|               14|POINT (2.30820955...|49.37794023861486|
+--------------+----------------+---------+-----------+--------+-----------+--------------------+-------------+--------+-----------------+--------------------+-----------------+
only showing top 5 rows